<ion-content>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size-md="6" offset-md="3">
        <br>
        <img src="https://media.licdn.com/dms/image/C5103AQEuLeOpeOBVJQ/profile-displayphoto-shrink_200_200/0?e=1575504000&v=beta&t=aGdal_7P6bL9ldIuONlDyn3xgliADK7RWVV55nntCBU" alt="Avatar" style="border-radius: 50%;">
        <br>
        <br>
        <h2>
          Antonius Filian
        </h2>
        <p>
          00000013047
        </p>
        <ion-item lines="full"></ion-item>
        <p>
          &copy; 2019 - 
          UTS Mobile Cross Platform 
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>