<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>UMN Court Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="browse">
        <ion-label>Browse</ion-label>
        <ion-icon name="search" color="primary"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-label>Profile</ion-label>
        <ion-icon name="person" color="primary"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>